@import "../base/universal";
@mixin fontpos {
    color: black;
    font-family: proxima_nova_reg;
    text-align: left;
    // position: absolute;
}
.second {
    width: 100vw;
    height: 100vh;
    background-color: #EBF0F0;
    position: relative;

    .container1 {
        padding-top: 30pt;
        padding-left: 10pt;
        // margin-top: 20pt;
        // margin-bottom: 20pt;
    }

    .circle {
        // position: relative;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        background-color: #FAAF41;
        position: absolute;
        left: -5%;
    }

    .head {
        margin-top: 7pt;
        margin-left: 5pt;
        position: absolute;
        color: black;
        font-size: 16pt;
        font-family: proxima_nova_reg;
        font-weight: bolder;
        text-align: left;
        width: 140pt;
        height: 20pt;
    }

    .delivery {
        @include fontpos();
        position: absolute;
        font-size: 32pt;
        font-weight: 700;
        // font-size: 32pt;
        margin-top: 45pt;

        // margin-left: 5pt;
        p {
            margin-left: 5pt;
        }

        #edit {
            -webkit-text-fill-color: white;
            -webkit-text-stroke: 1px;
        }
    }

    .art {
        // margin-top: 10pt;

        p {
            @include fontpos();
            position: absolute;
            font-size: 14pt;
            // margin: 10pt;
            margin-top: 265pt;
            margin-left: 16pt;
            margin-left: 16pt;
        }

    }

    .foot {
        @include fontpos();
        position: absolute;
        margin-top: 400pt;
        margin-left: 10pt;
        font-size: 16pt;

        p {
            margin-top: 10pt;
        }

        p:after {
            content: "";
            position: absolute;
            width: 60px;
            height: 3px;
            background: crimson;
            margin: 12px 15px;

        }
    }

    .triangle {
        width: 50px;
        height: 50px;
        background-image:
            //   linear-gradient(to bottom right, transparent 50%, red 0),
            linear-gradient(to top right, #3787C8 50%, transparent 0);
        background-size: 75% 100%;
        background-repeat: no-repeat;
        background-position: left, right;
        position: absolute;
        right: -40%;
        margin-top: 500pt;
        left: 66%;
    }

}
