.follow{
    display: flex;
    margin-left: 20pt;
    margin-top: 30pt;
    .contact{
        // display: flex;
        ul{
            margin-left: 33pt;
            li{
                
                list-style: none;
            }
        }
        
       
    }
}